/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    kentsislab/proteomegenerator3 Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

// Global default params, used in configs
params {

    // TODO nf-core: Specify your pipeline's command line flags
    // Input options
    input                        = null
    // skip preprocessing
    skip_preprocessing           = false
    // pre-filtering options
    filter_reads                 = false
    filter_acc_reads             = false
    mapq                         = 20
    read_len                     = 500
    // bambu parameters
    skip_multisample             = false
    NDR                          = 0.1
    yieldsize                    = 100000
    recommended_NDR              = false
    // minimum full-length reads for bambu
    min_lr_cts                   = 1.0
    // ORF prediction
    single_best_only             = false
    min_orf_len                  = 100
    // diamond blast options
    uniprot_proteome             = null
    UPID                         = 'UP000005640'
    reviewed                     = true
    isoforms                     = true
    max_evalue                   = 1e-5
    // include fusions in analysis
    fusions                      = false
    // short-read RNA-seq options
    short_reads                  = false
    // minimum tpm for stringtie merge
    min_stringtie_tpm            = 1.0
    // long-read assembler selection
    long_read_assembler          = 'bambu'   // bambu | lraa | stringtie
    // LRAA-specific options
    skip_lraa_discovery          = false


    // References
    genome                       = null
    gtf                          = null
    igenomes_base                = 's3://ngi-igenomes/igenomes/'
    igenomes_ignore              = false

    // MultiQC options
    multiqc_config               = null
    multiqc_title                = null
    multiqc_logo                 = null
    max_multiqc_email_size       = '25.MB'
    multiqc_methods_description  = null

    // Boilerplate options
    outdir                       = null
    publish_dir_mode             = 'copy'
    email                        = null
    email_on_fail                = null
    plaintext_email              = false
    monochrome_logs              = false
    hook_url                     = null
    help                         = false
    help_full                    = false
    show_hidden                  = false
    version                      = false
    pipelines_testdata_base_path = 'https://raw.githubusercontent.com/apsteinberg/test-datasets/'
    trace_report_suffix          = new java.util.Date().format('yyyy-MM-dd_HH-mm-ss')
    // Config options
    config_profile_name          = null
    config_profile_description   = null

    custom_config_version        = 'master'
    custom_config_base           = "https://raw.githubusercontent.com/nf-core/configs/${params.custom_config_version}"
    config_profile_contact       = null
    config_profile_url           = null

    // Schema validation default options
    validate_params              = true
}

// Load base.config by default for all pipelines
includeConfig 'conf/base.config'

// Load modules.config for DSL2 module specific options
includeConfig 'conf/modules.config'

profiles {
    debug {
        dumpHashes                                   = true
        process.beforeScript                         = 'echo $HOSTNAME'
        cleanup                                      = false
        nextflow.enable.configProcessNamesValidation = true
    }
    conda {
        conda.enabled        = true
        docker.enabled       = false
        singularity.enabled  = false
        podman.enabled       = false
        shifter.enabled      = false
        charliecloud.enabled = false
        conda.channels       = ['conda-forge', 'bioconda']
        apptainer.enabled    = false
    }
    mamba {
        conda.enabled        = true
        conda.useMamba       = true
        docker.enabled       = false
        singularity.enabled  = false
        podman.enabled       = false
        shifter.enabled      = false
        charliecloud.enabled = false
        apptainer.enabled    = false
    }
    docker {
        docker.enabled       = true
        conda.enabled        = false
        singularity.enabled  = false
        podman.enabled       = false
        shifter.enabled      = false
        charliecloud.enabled = false
        apptainer.enabled    = false
        docker.runOptions    = '-u $(id -u):$(id -g)'
        process {
            resourceLimits = [
                memory: 28.GB,
                time: 12.h,
            ]
            cache          = 'lenient'
        }
    }
    arm {
        docker.runOptions = '-u $(id -u):$(id -g) --platform=linux/amd64'
    }
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        conda.enabled          = false
        docker.enabled         = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
        apptainer.enabled      = false
    }
    podman {
        podman.enabled       = true
        conda.enabled        = false
        docker.enabled       = false
        singularity.enabled  = false
        shifter.enabled      = false
        charliecloud.enabled = false
        apptainer.enabled    = false
    }
    shifter {
        shifter.enabled      = true
        conda.enabled        = false
        docker.enabled       = false
        singularity.enabled  = false
        podman.enabled       = false
        charliecloud.enabled = false
        apptainer.enabled    = false
    }
    charliecloud {
        charliecloud.enabled = true
        conda.enabled        = false
        docker.enabled       = false
        singularity.enabled  = false
        podman.enabled       = false
        shifter.enabled      = false
        apptainer.enabled    = false
    }
    apptainer {
        apptainer.enabled    = true
        apptainer.autoMounts = true
        conda.enabled        = false
        docker.enabled       = false
        singularity.enabled  = false
        podman.enabled       = false
        shifter.enabled      = false
        charliecloud.enabled = false
    }
    wave {
        apptainer.ociAutoPull   = true
        singularity.ociAutoPull = true
        wave.enabled            = true
        wave.freeze             = true
        wave.strategy           = 'conda,container'
    }
    gitpod {
        executor.name   = 'local'
        executor.cpus   = 4
        executor.memory = 8.GB
        process {
            resourceLimits = [
                memory: 8.GB,
                cpus: 4,
                time: 1.h,
            ]
        }
    }
    test {
        includeConfig 'conf/test.config'
    }
    test_skip_multisample {
        includeConfig 'conf/test_skip_multisample.config'
    }
    test_lraa {
        includeConfig 'conf/test_lraa.config'
    }
    test_stringtie_lr {
        includeConfig 'conf/test_stringtie_lr.config'
    }
    test_full {
        includeConfig 'conf/test_full.config'
    }
    slurm {
        executor {
            name              = 'slurm'
            pollInterval      = '2 min'
            queueStatInterval = '5 min'
            submitRateLimit   = '20/1min'
            queueSize         = 100
            exitReadTimeout   = '10 min'
            dumpInterval      = '5 min'
            queueGlobalStatus = true
        }
        // trying to troubleshoot tasks with no exit code: https://github.com/sanger-pathogens/nextflow-commons/pull/26
        process {
            queue         = 'componc_cpu'
            errorStrategy = {
                if (task.exitStatus in [143, 137, 104, 134, 139, 140, Integer.MAX_VALUE]) {
                    sleep((Math.pow(2, task.attempt) * 2000).longValue())
                    return 'retry'
                }
                else {
                    return 'finish'
                }
            }
            maxRetries    = 2
            array         = 100
            cache         = 'lenient'
        }
    }
    desperation {
        executor {
            name      = 'local'
            queueSize = 1
        }

        process {
            executor   = 'local'
            cpus       = 20
            memory     = '400 GB'
            time       = '12.h'
            maxRetries = 1
        }
    }
}

// Load nf-core custom profiles from different Institutions
includeConfig !System.getenv('NXF_OFFLINE') && params.custom_config_base ? "${params.custom_config_base}/nfcore_custom.config" : "/dev/null"

// Load kentsislab/proteomegenerator3 custom profiles from different institutions.
// TODO nf-core: Optionally, you can add a pipeline-specific nf-core config at https://github.com/nf-core/configs
// includeConfig !System.getenv('NXF_OFFLINE') && params.custom_config_base ? "${params.custom_config_base}/pipeline/proteomegenerator3.config" : "/dev/null"

// Set default registry for Apptainer, Docker, Podman, Charliecloud and Singularity independent of -profile
// Will not be used unless Apptainer / Docker / Podman / Charliecloud / Singularity are enabled
// Set to your registry if you have a mirror of containers
apptainer.registry = 'quay.io'
docker.registry = 'quay.io'
podman.registry = 'quay.io'
singularity.registry = 'quay.io'
charliecloud.registry = 'quay.io'

// Load igenomes.config if required
includeConfig !params.igenomes_ignore ? 'conf/igenomes.config' : 'conf/igenomes_ignored.config'

// Export these variables to prevent local Python/R libraries from conflicting with those in the container
// The JULIA depot path has been adjusted to a fixed path `/usr/local/share/julia` that needs to be used for packages in the container.
// See https://apeltzer.github.io/post/03-julia-lang-nextflow/ for details on that. Once we have a common agreement on where to keep Julia packages, this is adjustable.

env {
    PYTHONNOUSERSITE = 1
    R_PROFILE_USER   = "/.Rprofile"
    R_ENVIRON_USER   = "/.Renviron"
    JULIA_DEPOT_PATH = "/usr/local/share/julia"
}

// Set bash options
process.shell = [
    "bash",
    "-C",
    "-e",
    "-u",
    "-o",
    "pipefail",
]

// Disable process selector warnings by default. Use debug profile to enable warnings.
nextflow.enable.configProcessNamesValidation = false

timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_timeline_${params.trace_report_suffix}.html"
}
report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_report_${params.trace_report_suffix}.html"
}
trace {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_trace_${params.trace_report_suffix}.txt"
}
dag {
    enabled = true
    file    = "${params.outdir}/pipeline_info/pipeline_dag_${params.trace_report_suffix}.html"
}

manifest {
    name            = 'kentsislab/proteomegenerator3'
    author          = """Asher Preska Steinberg"""
    // The author field is deprecated from Nextflow version 24.10.0, use contributors instead
    contributors    = [
        [
            name: 'Asher Preska Steinberg',
            affiliation: '',
            email: '',
            github: '',
            contribution: [],
            orcid: '',
        ]
    ]
    homePage        = 'https://github.com/kentsislab/proteomegenerator3'
    description     = """run Bambu for ONT transcript assembly"""
    mainScript      = 'main.nf'
    defaultBranch   = 'master'
    nextflowVersion = '!>=24.04.2'
    version         = '1.2.2'
    doi             = ''
}

// Nextflow plugins
plugins {
    id 'nf-schema@2.2.0'
}

validation {
    defaultIgnoreParams = ["genomes"]
    monochromeLogs      = params.monochrome_logs
    help {
        enabled             = true
        command             = "nextflow run kentsislab/proteomegenerator3 -profile <docker/singularity/.../institute> --input samplesheet.csv --outdir <OUTDIR>"
        fullParameter       = "help_full"
        showHiddenParameter = "show_hidden"
    }
}
