/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running LRAA tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Tests the LRAA long-read assembler path.

    Use as follows:
        nextflow run kentsislab/proteomegenerator3 -profile test_lraa,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 2,
        memory: 15.GB,
        time: 1.h,
    ]
    cache          = 'lenient'
    // this is necessary because the test database is small
    withName: 'KENTSISLAB_PROTEOMEGENERATOR3:PROTEOMEGENERATOR3:PREDICT_ORFS:TRANSDECODER_PREDICT' {
        ext.args = params.single_best_only ? '--no_refine_starts' : '--single_best_only --no_refine_starts'
    }
}

params {
    config_profile_name        = 'Test profile (LRAA)'
    config_profile_description = 'Minimal test dataset using LRAA as the long-read assembler'

    // Input data
    input                      = params.pipelines_testdata_base_path + 'proteomegenerator3/samplesheet_multisample.csv'
    // Genome references
    fasta                      = params.pipelines_testdata_base_path + 'proteomegenerator3/reference/Homo_sapiens.GRCh38.dna_sm.primary_assembly_chr9_1_1000000.fa'
    gtf                        = params.pipelines_testdata_base_path + 'proteomegenerator3/reference/Homo_sapiens.GRCh38.91_chr9_1_1000000.gtf'
    filter_reads               = true
    mapq                       = 1
    read_len                   = 10
    long_read_assembler        = 'lraa'
}
