/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run kentsislab/proteomegenerator3 -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 2,
        memory: 15.GB,
        time: 1.h,
    ]
    cache          = 'lenient'
    // this is necessary because the test database is small
    withName: 'KENTSISLAB_PROTEOMEGENERATOR3:PROTEOMEGENERATOR3:PREDICT_ORFS:TRANSDECODER_PREDICT' {
        ext.args = params.single_best_only ? '--no_refine_starts' : '--single_best_only --no_refine_starts'
    }
}

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Input data
    // TODO nf-core: Specify the paths to your test data on nf-core/test-datasets
    // TODO nf-core: Give any required params for the test so that command line flags are not needed
    input                      = params.pipelines_testdata_base_path + 'proteomegenerator3/samplesheet_multisample.csv'
    // Genome references
    fasta                      = params.pipelines_testdata_base_path + 'proteomegenerator3/reference/Homo_sapiens.GRCh38.dna_sm.primary_assembly_chr9_1_1000000.fa'
    gtf                        = params.pipelines_testdata_base_path + 'proteomegenerator3/reference/Homo_sapiens.GRCh38.91_chr9_1_1000000.gtf'
    filter_reads               = true
    // to check filtering is working
    mapq                       = 1
    read_len                   = 10
    recommended_NDR            = true
}
